
    body {
      background-color: #f0f2f5;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }

    .left {
      flex: 1;
      justify-content: center;
      text-align: center;
    }

    .color1{
      color: red;
      font-size: 50px;
      margin-bottom: 10px;
    }

    .color2{
      color: rgb(44, 9, 172);
      font-size: 50px;
      margin-bottom: 10px;
    }

    .left p {
      font-size: 20px;
      color: #1c1e21;
    }

    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-box {
        justify-self: center;
      background: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      width: 300px;
    }

    .login-box input {
      width: 100%;
      padding: 10px;
      margin: 8px -8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    .login-box button {
      width: 100%;
      background-color: rgb(44, 9, 172);;
      color: white;
      border: none;
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
    }

    .login-box button:hover {
      background-color: rgb(44, 9, 172);;
    }

    .login-box a {
      display: block;
      text-align: center;
      color:  rgb(44, 9, 172);;
      text-decoration: none;
      margin-top: 10px;
    }

    .create-account {
      background-color: #42b72a;
      margin-top: 10px;
    }

    .create-account:hover {
      background-color: #36a420;
    }
